  .header {
    text-align: center;
    background: #66717E;
    color: #BFC0C0;
  }
  input, select {
    border: 3px solid #2d3142;
    text-align: center;
  }  
  body {
    padding: 2em; 
    background-color: #4F5D75;
  }

  .column {
    float: left;
    width: 48%;
    height: 40%;
    background-color: #BFC0C0;
    border: 3px solid whitesmoke;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }